#mail,#phone{
  cursor: pointer;
  margin: 20px 0;
  color: #757575;
}
#mail:hover,#phone:hover{
  color: #58B2DC;
}
.title{
  font-family:"华文楷体";
  font-size: 1.8rem;
  margin: 10px 0;
  position: relative;
  top:-20px;
}
.detail{
  font-size: 1rem;
  font-family: "华文楷体";
  position: relative;
  top: -20px;
  color: #757575;
}
.logo-img-forget{
  margin: 10px 0;
  position: relative;
  top: -20px;
}
.back-to-login{
  width: 100px;
  height: 30px; 
  line-height: 30px;
  border: 1.3px solid #58B2DC;
  border-radius: 20px;
  font-size: 0.9rem;
}
.back-to-login>a:hover{
  color: #58B2DC;
}