*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  /* min-width: 600px; */
}
a:link{
  color: #8b8f8d;
  text-decoration: none;
  transition: all .2s;
}
a:visited{
  color: #8b8f8d;
}
a:hover{
  color: #00b96b;
}
a:active{
  color: #00b96b;
}
.card{
  width: 400px;
  height: 580px;
  /* border: 2px solid #00b96b; */
  border-radius: 10px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0px 0px 15px 5px #e7e9e8;
}
.logo-img{
  margin: 30px auto;
}
input{
  outline: none;
  border:none;
}
.phone-number-input-container{
  width: 318px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e9e8;
  border-radius: 5px;
  transition: all .25s;
  margin: 10px 0;
}
.phone-number-input-container:hover{
  border: 1px solid #00b96b;
}
.phone-number-input{
  width: 286px;
  height: 30px;
  margin: 0 auto;
}
.mail-input-container{
  width: 318px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e9e8;
  border-radius: 5px;
  transition: all .25s;
  margin: 10px 0;
  display: none;
}
.mail-input{
  width: 286px;
  height: 30px;
  margin: 0 auto;
}
.verify-code{
  width: 320px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.verify-code-container{
  width: 180px;
  height: 38px;
}
.verify-input-container{
  width: 220px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e9e8;
  border-radius: 5px;
  transition: all .25s;
}
.verify-input-container:hover{
  border: 1px solid #00b96b;
}
.get-verify-code-button{
  width: 100px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  border: 1px solid #e7e9e8;
  border-radius: 5px;
  background-color: white;
  margin-left: 10px;
  font-size: 0.8rem;
  transition: all .25s;
}
.get-verify-code-button:hover{
  border: 1px solid #00b96b;
}
.mail-password-container{
  width: 320px;
  height: 38px;
  border: 1px solid #e7e9e8;
  border-radius: 5px;
  transition: all .25s;
  margin: 10px 0;
  display: none;
}
.mail-password-container:hover{
  border: 1px solid #00b96b;
}
.mail-password-input{
  width: 286px;
  height: 38px;
  margin: 0 auto;
}
.login-button{
  width: 318px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  cursor: pointer;
  border: 1px solid #00b96b;
  border-radius: 5px;
  background-color: white;
  transition: all .25s;
}
.login-button:hover{
  color: white;
  background-color: #00b96b;
}
.forget-password{
  color: #8b8f8d;
  font-size: 0.9rem;
  margin: 10px 0;
}
.login-p{
  margin-top: 10px;
  margin-bottom: 10px;
}
.other-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  margin: 10px auto;
}
.login-icon{
  margin: 10px;
  cursor: pointer;
}
.password-login{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #e7e9e8;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  display: block;
}
.phone-number-login{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #e7e9e8;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.back-home{
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #00b96b;
  border: 1.3px solid #00b96b;
  border-radius: 5px;
  margin: 10px 0;
}
.back-home>a{
  color: white;
  display: block;
}
@media(max-width:450px){
  .card{
    width: 340px;
  }
}