* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  /*如果body设置height:100vh则网页肯定不是纵向布局，而是偏响应式布局的单页面形式*/
  background-color: #eceaeb;
  overflow-x: hidden;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

/*网页滚动条 整个*/
::-webkit-scrollbar {
  /* 可以设置宽度，但是设置高度无效，由浏览器自行决定 */
  width: 10px;
}

/*网页滚动条 轨道*/
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/*网页滚动条 滑块*/
::-webkit-scrollbar-thumb {
  background-color: #98cce8;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover{
  background-color: #8abcd1;
} */
aside {
  width: 250px;
  height: 100vh;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

main {
  flex: 1;
  /* height: 2000px; */
  /* min-width: 800px; */
  background-color: #eceaeb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.aside-top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  margin: 0 15px;
  transition: all .3s;
}

.menu-button:hover {
  background-color: #d5ea79;
  transform: scale(1.2);
}

.menu-button-img {
  cursor: pointer;
}

.logo-container {
  margin: 0 15px;
  transition: all .3s;
}

.logo-container:hover {
  transform: scale(1.3);
}

.aside-center {
  width: 250px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin: 0 auto; */
}

.item {
  width: 200px;
  height: 50px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  border-radius: 12px;
}

.item:hover {
  background-color: #d5ea79;
}

.item-active {
  border: 1px solid #e1e1e1;
  background-color: #ebebeb;
  font-weight: bold;
  border-radius: 12px;
}

/* .item-character-more{
  position: relative;
  left:8px;
} */
.item-icon {
  margin: 0 10px;
  height: 30px;
}

.item-title {
  margin: 0 30px;
  font-size: 1rem;
}

.item-title-more {
  position: relative;
  left: 8px;
}

.button {
  width: 240px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #d5ea79;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 30px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: #4eb772;
  color: white;
}

.aside-bottom {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 0 5px;
  margin-right: 10px;
  transition: all .3s;
}

.avatar:hover {
  transform: scale(1.2) rotate(45deg);
}

.message {
  position: relative;
  top: -3px;
  text-align: left;
}

.nickname {
  font-size: 1rem;
  margin: 2px 0;
}

.mail {
  font-size: 0.8rem;
  color: #cdd2d8;
  /* color: #d5ea79; */
}

.more {
  margin-left: 10px;
  transition: all .3s;
  border-radius: 6px;
  height: 30px;
}

.more:hover {
  background-color: #d5ea79;
}

.aside-control {
  position: sticky;
  top: 0px;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.aside-button {
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: white;
  transition: all .3s;
}

.aside-button:hover {
  background-color: black;
}

.aside-icon-img {
  cursor: pointer;
  margin: 0 auto;
}

.main-top {
  width: 1200px;
  height: 240px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid white;
  border-radius: 10px; */
}

.main-top-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
}

.classify {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  height: 30px;
  cursor: pointer;
  transition: all .3s;
}

.classify:hover {
  transform: rotate(90deg);
}

.menubar {
  width: 1200px;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  position: sticky;
  top: 0px;
  transition: all .45s;
  z-index: 100;
}

.menubar-item {
  font-size: 1.4rem;
  margin: 0 100px;
  cursor: pointer;
  transition: all .1s;
  font-family: "华文楷体";
}

.menubar-item:hover {
  color: #1ba784;
}

.menubar-item-active {
  font-weight: bold;
}

.menubar-item-active::after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 50px;
  height: 4px;
  background-color: #d5ea79;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 40px;
  background-color: white;
  border: 2px solid #98cce8;
  border-radius: 20px;
  margin-top: 30px;
  transition: all .3s;
}

.search-box:hover {
  width: 620px;
}

.search-input {
  width: 400px;
  height: 40px;
  position: relative;
  left: 0px;
}

input {
  outline: 0;
  border: 0;
  font-size: 0.9rem;
}

input::placeholder {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.search {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  cursor: pointer;
  overflow: hidden;
}

.hot-search-text {
  text-align: left;
  width: 550px;
  margin: 10px 0;
}

.scan {
  cursor: pointer;
  height: 30px;
  position: relative;
  left: -12px;
}

.line {
  width: 2px;
  height: 24px;
  background-color: #98cce8;
  position: relative;
  left: -5px;
}

.commend-detail {
  font-size: 1rem;
  text-align: center;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commend-detail-item {
  width: 100px;
  padding: 2px 10px;
  height: 30px;
  background-color: #edeced;
  /* border: 1px solid white; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
  transition: all .3s;
}

.commend-detail-item:hover {
  background-color: #1ba784;
  color: white;
}

.main-bottom {
  width: 1200px;
  height: 1800px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 0 0;
  position: relative;
  top: 40px;
}

.book {
  width: 300px;
  height: 400px;
  background-color: white;
  margin: 0 10px;
  border: 1.5px solid #d2d2d2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 3px 3px 5px #d2d2d2;
  transition: all .3s;
  /* font-family: "华文楷体"; */
  /* font-family: 'Times New Roman', Times, serif; */
}

.book:hover {
  transform: scale(1.03);
}

.book-face {
  height: 250px;
  border: 4px double #df924f;
  /*outline和border类似，属性值都差不多，只是outline不占据元素空间，border是元素的一部分，占据元素空间*/
  cursor: pointer;
}

.book-name {
  font-size: 1.2rem;
  margin: 10px 5px 0 0;
  min-width: 100px;
  text-align: center;
  font-family: "华文楷体";
  /* font-family: 'Times New Roman', Times, serif; */
}

.book-class {
  border: 1px solid white;
  border-radius: 30px;
  background-color: #cdd2d8;
  margin: 5px 0;
  padding: 5px 10px;
  transition: all .3s;
  cursor: pointer;
  font-family: "华文楷体";
  /* font-family: 'Times New Roman', Times, serif; */
}

.book-class:hover {
  background-color: #edc566;
}

.book-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.book-price {
  margin: 0 5px;
}

.book-discount {
  width: 32px;
  background-color: #ff66b2;
  color: red;
}

.back-to-top {
  position: fixed;
  right: 100px;
  bottom: 50px;
  cursor: pointer;
  transition: all .3s;
  transform: scale(0);
}